@*Show Accepted Investments*@
@model IEnumerable<IVRequest>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Investment Request Description</th>
            <th>Amount To Be Invested</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int srno = 1;
        }
        @foreach (var temp in Model)
        {
            <tr>
                <th>@srno</th>
                <td>@temp.IVRequestDesc</td>
                <td>@temp.AmountToBeInvested</td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="ViewDetails" asp-route-id="@temp.IVRequestID">View Details</a>
                </td>
            </tr>
            srno++;
        }
    </tbody>
</table>