@model InvestorTC
@*@{
    ViewBag.Title = "ADMIN | ADD CATEGORY";
    ViewBag.MainState = "active";
    ViewBag.CategoryState = "active";
}*@
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add Investor TC</h5>
            <form class="row g-3" asp-action="Create" method="Post">
                <div class="col-12">
                    <label class="form-label">Investor TC Title</label>
                    <input asp-for="InvestorTCTitle" class="form-control" />
                    <span asp-validation-for="InvestorTCTitle" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label class="form-label">Investor TC Description</label>
                    <textarea asp-for="InvestorTCDesc" rows="8" class="form-control"></textarea>
                    <span asp-validation-for="InvestorTCDesc" class="text-danger"></span>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary btn-sm">Create</button>
                    <a asp-action="Index" class="btn btn-sm btn-primary">Back</a>
                </div>
                @if (ViewBag.Message != null)
                {
                    <h6 class="text-info fw-bold">@ViewBag.Message</h6>
                }
            </form>
        </div>
    </div>
</div>
