@model Solution
<div class="col-lg-6">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Query Solution</h5>
            <h5>Query ID:@ViewBag.QueryID </h5>
            <div>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-info">@ViewBag.Message</div>
                }

            </div>
            <!-- Vertical Form -->
            <form class="row g-3" asp-action="Accept" method="Post">
                <input type="hidden" asp-for="QueryID" value="@ViewBag.QueryID" />

                <div class="col-12">
                    <label class="form-label">Query Description</label>
                    <textarea  class="form-control" disabled> @ViewBag.QueryDescription </textarea>
                    <span asp-validation-for="Query.QueryDescription" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label class="form-label">Solution Description</label>
                    <textarea asp-for="SolutionDesc" class="form-control"> </textarea>
                    <span asp-validation-for="SolutionDesc" class="text-danger"></span>
                </div>

                <div class="">
                    <button type="submit" class="btn btn-primary">Submit Solution</button>
                </div>
            </form><!-- Vertical Form -->

        </div>
    </div>


</div>