@model WorkClosure
@{
    ViewBag.Title = "USER | ADD IDEA";
}
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add Idea</h5>
            <form class="row g-3" asp-action="CloseWork" method="Post">
                <div class="col-12">
                    <label class="form-label">Closure Date</label>
                    <input asp-for="ClosureDate" type="date" class="form-control" />
                    <span asp-validation-for="ClosureDate" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label class="form-label">Closure Status</label>
                    <textarea asp-for="ClosureStatus" value="Closed" cols="6" rows="5" class="form-control" ></textarea>
                    <span asp-validation-for="ClosureStatus" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="IdeaID" value="@ViewBag.IdeaID"/>

                <div>
                    <button type="submit" class="btn btn-primary btn-sm">Submit Closure Request</button>
                </div>
            </form>
        </div>
    </div>
</div>

