@model IdeaDocuments

<form class="row g-3" enctype="multipart/form-data" asp-action="Upload" method="Post">

    <div class="col-4">
        <label class="form-label">Document Type</label>
        <select asp-for="DocumentTypeID" asp-items="@ViewBag.DocumentTypeID" class="form-select" id="GetTypeName">
            <option value="0">Select Document Type</option>
        </select>
        <span asp-validation-for="DocumentTypeID" class="text-danger"></span>
    </div>

    <div class="col-4">
        <label class="form-label">Course Icon</label>
        <input type="file" asp-for="ActualFile" class="form-control" />
        <span asp-validation-for="ActualFile" class="text-danger"></span>
    </div>

    <input name="IdeaID" type="hidden" type="text" value="@ViewBag.IdeaID" />

    <div class="col-4">
        <button type="submit" class="mt-4 btn btn-primary">Select</button>
    </div>

    <input type="hidden" id="FetchDocumentTypeName" asp-for="FetchDocumentTypeName" value="" />
</form>

<script>
    $(function () {
        $("#GetTypeName").change(function(){
            var type = $(this).find(":selected").text();
            alert(type);
            $("#FetchDocumentTypeName").val(type);
        });
    });
</script>
