@model InvestmentPayment

<div class="col-lg-6 mx-auto">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Investment Payment</h5>
            <form class="row g-3" asp-action="InvestmentPayment" method="Post">
                <div class="col-12">
                    <label class="form-label">Payment Amount</label>
                    <input asp-for="PaymentAmount" class="form-control" readonly/>
                    <span asp-validation-for="PaymentAmount" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label class="form-label">Payment Date</label>
                    <input asp-for="PaymentDate" class="form-control" readonly />
                    <span asp-validation-for="PaymentDate" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label class="form-label">Payment Mode</label>
                    <input class="form-control" value="@Enum.GetName(typeof(PaymentMode),Model.PaymentMode)" readonly />
                    <input name ="PaymentMode" type="hidden" value="@Model.PaymentMode"/>
                    <span asp-validation-for="PaymentMode" class="text-danger"></span>
                </div>

                <div>
                    <input type="checkbox" required/> <label>Accept Amount</label>
                </div>

                <div>
                    <button type="submit" class="btn btn-success">Confirm Payment</button>
                </div>

                @if (ViewBag.Message != null)
                {
                    <h6 class="text-info fw-bold">@ViewBag.Message</h6>
                }

                <input type="hidden" asp-for="AcceptIVID" />
            </form>
        </div>
    </div>
</div>
