@model DocumentType
@{
    ViewBag.Title = "ADMIN | ADD DOCUMENT TYPE";
    ViewBag.MainState = "active";
    ViewBag.DocumentTypeState = "active";
}
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add Document Type</h5>
            <form class="row g-3" asp-action="Create" method="Post">
                <div class="col-12">
                    <label class="form-label">Document Type Name</label>
                    <input asp-for="DocumentTypeName" class="form-control" />
                    <span asp-validation-for="DocumentTypeName" class="text-danger"></span>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary btn-sm">Create</button>
                </div>
                @if (ViewBag.Message != null)
                {
                    <h6 class="text-info fw-bold">@ViewBag.Message</h6>
                }
            </form>
        </div>
    </div>
</div>
