@model IEnumerable<DocumentType>
@{
    ViewBag.Title = "ADMIN | DOCUMENT TYPE";
    ViewBag.MainState = "active";
    ViewBag.DocumentTypeState = "active";
}
<div class="card">
    <h5 class="card-header">Document Type List</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3"><a class="btn btn-primary btn-sm" asp-action="Create" asp-controller="DocumentType">CREATE</a></th>
                </tr>
                <tr>
                    <th>Sr.No</th>
                    <th>Document Type Name</th>
                    <th>Edit / Delete</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int srno = 1;
                }
                @foreach (var temp in Model)
                {
                    <tr>
                        <td>@srno</td>
                        <td>@temp.DocumentTypeName</td>
                        <td colspan="5">
                            <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@temp.DocumentTypeId">Edit</a>
                            |
                            <a class="btn btn-outline-primary btn-sm" asp-action="Delete" asp-route-id="@temp.DocumentTypeId">Delete</a>
                        </td>
                    </tr>
                    srno++;
                }
            </tbody>
        </table>
    </div>
</div>


