@model StagesVM
@*@{
    ViewBag.Title = "ADMIN | ADD CATEGORY";
    ViewBag.MainState = "active";
    ViewBag.CategoryState = "active";
}*@
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Edit Member Details</h5>
            <form asp-action="Edit" method="Post" class="row g-3 mt-3">
                <div class="row">
                    <div class="col-3">
                        <label class="form-label">Stage Name</label>
                        <input asp-for="StageName" type="text" class="form-control" />
                        <span asp-validation-for="StageName" class="text-danger"></span>
                    </div>

                    <div class="col-3">
                        <label class="form-label">Stage Description</label>
                        <input asp-for="StageDescription" type="text" class="form-control" />
                        <span asp-validation-for="StageDescription" class="text-danger"></span>
                    </div>

                    <div class="col-3">
                        <label class="form-label">Idea Name</label>
                        <select asp-for="IdeaID" asp-items="@ViewBag.IdeaID" class="form-select">
                            <option>Select Idea</option>
                        </select>
                        <span asp-validation-for="IdeaID" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                </div>
                @if (ViewBag.Message != null)
                {
                    <h6 class="text-info fw-bold">@ViewBag.Message</h6>
                }
                <input type="hidden" asp-for="StageID"/>
            </form>
        </div>
    </div>
</div>