@model Category
@{
    ViewBag.Title = "ADMIN | EDIT CATEGORY";
    ViewBag.MainState = "active";
    ViewBag.CategoryState = "active";
}
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Edit Category</h5>
            <form class="row g-3" asp-action="Edit" method="Post">
                <div class="col-12">
                    <label class="form-label">Category Name</label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary btn-sm">Create</button>
                </div>
                @if (ViewBag.Message != null)
                {
                    <h6 class="text-info fw-bold">@ViewBag.Message</h6>
                }

                <input type="hidden" asp-for="CategoryID"/>
            </form>
        </div>
    </div>
</div>
