@*Work Closure Details VC*@

@model IEnumerable<WorkClosure>

<div class="col-lg-12">
    <button class="accordion" style="color:#1f2b7b"><b>Work Closure Details</b></button>
    <div class="panel mt-1">
        @{
            int srno = 1;
        }
        @foreach (var record in Model)
        {
            <div class="card shadow-none bg-transparent border border-secondary mb-3 mt-3">
                <div class="card-body">
                    <label class="text-info"><b>Closure Date : </b>@record.ClosureDate.ToString("dd-MM-yyyy")</label>

                    <label class="card-text">
                        <b>Closure Status : </b>
                        <br>@record.ClosureStatus
                    </label>
                </div>
            </div>
            srno++;
        }
    </div>
</div>
