@model IdeaRisk
@{
    ViewBag.Title = "USER | ADD IDEA RISK";
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Search Idea Risk</h5>
            <form class="row g-3">
                <div class="row">
                    <div class="col-8 mt-3">
                        <label class="form-label">Idea Name</label>
                    </div>
                    <div class="col-12">
                        <select asp-for="IdeaID" asp-items="@ViewBag.IdeaID" class="form-select" id="IdeaID">
                            <option value="0">Select Idea</option>
                        </select>
                        <span asp-validation-for="IdeaID" class="text-danger"></span>
                    </div>
                </div>
            </form>

            <div>
                @await Component.InvokeAsync("RiskListVC")
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("#IdeaID").change(function () {
            var urltocall = "/Home/GetIdeas/?IdeaID=" + $(this).val();
            $.ajax({
                url: urltocall,
                type: "Get",
                ContentType: "application/json",
                success: function (result) {
                    //alert(JSON.stringify(result));
                    $("#tb").empty();
                    var str = "";
                    for (var i = 0; i < result.length; i++) {
                        //str = "<tr><td>" + (i + 1) + "</td><td>" + result[i].riskTitle + "</td><td>" + result[i].riskDescription + "</td><td>" + result[i].riskLevel + "</td> <td> <a href="'/UserArea/Risk/Edit/'+result[i].riskID+">EDIT</a> | <a>DELETE</a></td> </tr>";

                        str = "<tr>" + "<td>" + (i + 1) + "</td>" + "<td>" + result[i].riskTitle + "</td>" + "<td>" + result[i].riskDescription.substring(0, 200) + "...</td>" + "<td>" + result[i].riskLevel + "</td>" + "<td>" + '<a class="btn btn-outline-success btn-sm" href="/UserArea/Risk/Edit/' + result[i].riskID + '"/> Edit </a> | <a class="btn btn-outline-info btn-sm" href="/UserArea/Risk/Details/' + result[i].riskID + '"/> Details </a> |  <a class="btn btn-outline-danger btn-sm" href="/UserArea/Risk/Delete/' + result[i].riskID + '"/> Delete </a> ' + "</td>" + "</tr>";
                        $("#tb").append(str);
                    }
                },
                error: function (err) {
                }
            });

        });

    });
</script>
