@model IdeaRisk
@{
    ViewBag.Title = "USER | IDEA RISK DETAILS";
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Idea Details</h5>

            <table class="table table-stripped col-md-6">
                <tr>
                    <td><b><label class="form-label-lg" asp-for="RiskLevel"></label></b></td>
                    <td> <label>@Html.DisplayFor(p=>p.RiskTitle)</label></td>
                </tr>

                <tr>
                    <td><b><label class="form-label-lg" asp-for="RiskDescription"></label></b></td>
                    <td><textarea rows="4" cols="80" disabled>@Html.DisplayFor(p=>p.RiskDescription)</textarea></td>
                </tr>

                <tr>
                    <td><b><label class="form-label-lg" asp-for="RiskLevel"></label></b></td>
                    <td><label>@Enum.GetName(typeof(RiskLevel),Model.RiskLevel) </label></td>
                </tr>

            </table>

            <div>
                <a class="btn btn-primary btn-sm mt-4" asp-action="Create" asp-controller="Risk" asp-area="UserArea">Back</a>
            </div>
        </div>
    </div>
</div>
