
@*DropDownSearchVC*@
<form asp-action="SearchIdea" method="Post" class="search-box mt-3" style="background-color:#fff;">
    <div class="select-form">
        <div class="select-itms">
            <select name="CategoryID" asp-items="@ViewBag.CategoryID">
                <option value="0"><b>Select Category</b></option>
            </select>
        </div>
    </div>
    <div class="select-form">
        <div class="select-itms">
            <select name="SubCategoryID" asp-items="@ViewBag.SubCategoryID">
                <option value=""><b>Sub Category</b></option>
            </select>
        </div>
    </div>
    <div class="search-form">
        <input type="submit" value="Search" style="padding:22px 80px; background-color:#fb246a; outline:none; border:none; color:#fff;cursor:pointer;" />
    </div>
</form>