@model UserProfileVM
@{
    ViewBag.Title = "User | EditProfile";
}
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Edit Profile</h5>
    </div>

    <div class="card-body">
        <form asp-action="EditProfile" method="Post">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        <label class="form-label" for="basic-default-fullname">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="mb-4">
                        <label class="form-label" for="basic-default-fullname">Mobile Number</label>
                        <input asp-for="MobileNumber" class="form-control" />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Pincode</label>
                        <input asp-for="Pincode" class="form-control" />
                        <span asp-validation-for="Pincode" class="text-danger"></span>
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Country Name</label>
                        <select asp-for="CountryID" asp-items="@ViewBag.CountryID" class="form-select" id="CountryID">
                            <option value="0">Select Country</option>
                        </select>
                        <span asp-validation-for="CountryID" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">State Name</label>
                        <select asp-for="StateID" asp-items="@ViewBag.StateID" class="form-select" name="StateID" id="State">
                            <option value="0">Select State</option>
                        </select>
                        <span asp-validation-for="StateID" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">City Name</label>
                        <select asp-for="CityID" asp-items="@ViewBag.CityID" class="form-select" id="City" name="CityID">
                            <option value="0">Select City</option>
                        </select>
                        <span asp-validation-for="CityID" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Address</label>
                        <textarea asp-for="Address" rows="5" class="form-control" > </textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Short Profile Description</label>
                        <textarea asp-for="ShortProfileDesc" rows="5" class="form-control"> </textarea>
                        <span asp-validation-for="ShortProfileDesc" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Education Details</label>
                        <textarea asp-for="EducationDetails" rows="9" class="form-control"> </textarea>
                        <span asp-validation-for="EducationDetails" class="text-danger"></span>
                    </div>


                </div>
            </div>


            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
        @if (ViewBag.Message != null)
        {
            <br /> <h6 class="text-info fw-bold">@ViewBag.Message</h6>
        }
    </div>
</div>

    <script type="text/javascript">
        $(function () {
            $("#CountryID").change(function () {

                $.ajax({
                    url: "/Home/GetStatesJson/" + $("#CountryID").val(),
                    type: "Get",
                    contentType: "application/json",
                    success: function (result) {
                        //alert(JSON.stringify(result));
                        $("#State").empty();
                        for (var i = 0; i < result.length; i++) {
                            var str = "<option value='" + result[i].stateID + "'>" + result[i].stateName + "</option>";
                            $("#State").append(str);
                        }
                    },
                    error: function (err) {
                        alert(JSON.stringify(err));
                    }
                });

            });

            $("#State").change(function () {

                $.ajax({
                    url: "/Home/GetCitiesJson/" + $("#State").val(),
                    type: "Get",
                    contentType: "application/json",
                    success: function (result) {
                        //alert(JSON.stringify(result));
                        $("#City").empty();
                        for (var i = 0; i < result.length; i++) {
                            var str = "<option value='" + result[i].cityID + "'>" + result[i].cityName + "</option>";
                            $("#City").append(str);
                        }
                    },
                    error: function (err) {
                        alert(JSON.stringify(err));
                    }
                });

            });
        });
    </script>