<style>
    .accordion {
        background-color: #fff;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 16px;
        transition: 0.4s;
    }

        .active, .accordion:hover {
            background-color: #F5F5F9;
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in;
    }
</style>

<div>
    <a class="btn btn-primary btn-sm mb-3" asp-action="Index">Back</a>
@*    <a class="btn btn-info btn-sm mb-3" asp-action="GenerateReport">Generate Report</a>*@
</div>
<div class="row justify-content-center">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">

                @await Component.InvokeAsync("WorkProgressDetailsVC",new {id = ViewBag.IdeaID})

                @await Component.InvokeAsync("WorkClosureDetailsVC",new {id = ViewBag.IdeaID})

                @await Component.InvokeAsync("TotalInvestmentDetailsVC",new {id = ViewBag.IdeaID})
            </div>
        </div>
    </div>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>