@*Investor New Queries*@
@model IEnumerable<Query>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Query Description</th>
            <th>Idea Name</th>
            <th>Query Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            int srno = 1;
        }
        @foreach (var temp in Model)
        {
            <tr>
                <th>@srno</th>
                <td>@temp.QueryDescription</td>
                <td>@temp.Idea.IdeaName</td>
                <td>@temp.QueryDate</td>
            </tr>
            srno++;
        }
    </tbody>
</table>
