@model Idea
<div class="col-lg-6 mx-auto">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Investment Report (IdeaWise)</h5>
            <form class="row g-3" asp-action="IdeaWiseInvReportsAction" method="Post">
                <div class="col-12">
                    <label class="form-label">Idea Name</label>
                    <select asp-for="IdeaID" asp-items="@ViewBag.IdeaID" class="form-select" id="IdeaID">
                        <option value="0">Select Idea Name</option>
                    </select>
                    <span asp-validation-for="IdeaID" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Ok</button>
                </div>
                @if (ViewBag.Message != null)
                {
                    <h6 class="text-info fw-bold">@ViewBag.Message</h6>
                }

            </form>
        </div>
    </div>
</div>