@model IEnumerable<Country>
@{
    ViewBag.Title = "ADMIN | COUNTRY";
}
    <div class="card mx-auto">
        <h5 class="card-header">Country Names</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3"><a class="btn btn-primary btn-sm" asp-action="Create" asp-controller="Country">CREATE</a></th>
                    </tr>
                    <tr>
                        <th>Sr.No</th>
                        <th>Country Name</th>
                        <th>Edit / Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int srno = 1;
                    }
                    @foreach (var temp in Model)
                    {
                        <tr>
                            <td>@srno</td>
                            <td>@temp.CountryName</td>
                            <td>
                                <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@temp.CountryID">Edit</a>
                                |
                                <a class="btn btn-outline-primary btn-sm" asp-action="Delete" asp-route-id="@temp.CountryID">Delete</a>
                            </td>
                        </tr>
                        srno++;
                    }
                </tbody>
            </table>
        </div>
    </div>


