@model IEnumerable<IdeaInvestmentTotalVM>
@{
    ViewBag.Title = "USER | RISK";
}
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Idea Name</th>
                    <th>Total Amount</th>
                    <th>View Details / Work Progress</th> 
                </tr>
            </thead>
            <tbody>
                @{
                    int srno = 1;
                }

                @foreach (var temp in Model)
                {
                    <tr>
                        <td>@temp.IdeaName</td>
                        <td>@temp.TotalAmount</td>
                        <td colspan="5">
                            <a class="btn btn-outline-info btn-sm" asp-action="ViewDetails" asp-route-id="@temp.IdeaID">View Details</a>
                            |
                            <a class="btn btn-outline-info btn-sm" asp-action="WorkProgressDetails" asp-route-id="@temp.IdeaID">Work Progress</a>
                        </td>
                    </tr>
                    srno++;
                }
            </tbody>
        </table>
    </div>
</div>




